repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: check-yaml
      - id: end-of-file-fixer
      - id: trailing-whitespace
      - id: check-added-large-files
        args: ['--maxkb=1000']
      - id: check-merge-conflict
      - id: check-toml
      - id: debug-statements
      - id: mixed-line-ending

  - repo: https://github.com/psf/black
    rev: 24.3.0
    hooks:
      - id: black
        language_version: python3.9
        args: ['--config', 'pyproject.toml']

  - repo: https://github.com/pycqa/isort
    rev: 5.13.2
    hooks:
      - id: isort
        name: isort (python)
        args: ['--settings-path', 'pyproject.toml']

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.3.4
    hooks:
      - id: ruff
        args: ['--fix', '--exit-non-zero-on-fix']

  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.9.0
    hooks:
      - id: mypy
        args: ['--config-file', 'pyproject.toml', '--ignore-missing-imports']
        additional_dependencies:
          - 'types-PyYAML'
          - 'types-requests'
          - 'numpy>=1.24.0'
        files: ^TTS/(api|utils/synthesizer|tts/models/base_tts)\.py$
        pass_filenames: true

  - repo: https://github.com/pycqa/flake8
    rev: 7.0.0
    hooks:
      - id: flake8
        args: ['--config', 'pyproject.toml']
        additional_dependencies:
          - flake8-bugbear
          - flake8-comprehensions
          - flake8-simplify
